html {
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    font-family: 'L10';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'L10',
      monospace;
  }
  
  #root {
    background-color: #e8ebeb;
    padding: 1.5rem;
  }
  
  .custom-control {
    padding-left: 1.786rem;
  }
  .custom-control-label:before {
    width: 2rem;
    height: 2rem;
  }

  .custom-control-label:after {
    width: 2rem;
    height: 2rem;
  }