html {
    /* font-size: 62.5%; */
  }
  
  body {
    margin: 0;
    font-family: 'L10';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'L10',
      monospace;
  }
  
  #root {
    background-color: #e8ebeb;
    padding: 15px;
  }
  
  .custom-control {
    padding-left: 26.86px;
  }
  .custom-control-label:before {
    width: 20px;
    height: 20px;
  }

  .custom-control-label:after {
    width: 20px;
    height: 20px;
  }